body{
    background-color: white;
    font-size: 20px;
}



header{
    background-color: #107c41;
    color: white;
    height: 80px;
    display: flex;
        justify-content: center;
        align-content: center;
}
h1{
    display: flex;
        justify-content: center;
        align-content: center;
}
td{
    height: 50px;
    width: 50px;
    text-align: center;
    background-color: white;
}
.kontener{
        display: flex;
        justify-content: center;
        align-content: center;
}
table{
    margin: 40px;
        justify-content: center;
        align-content: center;
        background-color: black;
}
.szare{
    background-color: lightgrey;
}

#corner{
    background-color: grey;
}
#pole:hover{
    background-color: lightgray;
}
#pole:active{
    background-color: lightyellow;
}
.szare:hover{
    background-color: grey;
}
.input{
    height: 50px;
    width: 50px;
    background-color: transparent;
    border: none;
    text-align: center;

}
.input:hover{
    background-color: lightgray;
}
.input:active{
    background-color: lightyellow;
}
button{
    position: relative;
    left: 47%;
    top: -30px;
    border-radius: 20px;
}
button:hover{
    background-color: lightgrey;
}
button:active{
    background-color: grey;
}
.wynik{
    height: 40px;
    width: 120px;
    text-align: center;
    position: relative;
    left: 45.5%;
    top: -25px;
    border-radius: 20px;
}
.wynik:hover{
    background-color: lightgrey;
}